.Chat-main
  .group-info
    .group-info__header-left
      .group-info__group-name
        test
      .group-info__member-list
        Member : masa
    .group-info__header-right
      .group-info__edit--btn
  .message-list
  .form