.Side-bar
  .user-name
    .user-name__header-items
      .user-name__name
        masa
        = link_to '#', class: "header-items__icons--edit"  do
        = link_to '#', class: "header-items__icons--cog" do
      .user-name__icons
          = icon('fas',)
          = icon('fas', 'cog')
  .group-list
    .group
      =link_to '#', class: "group__messages" do
        .group__name
          techcamp
        %b.group__message
          またメッセージがありません