.Side-bar
  .user-name
    .user-name__header-items
      .user-name__name
        masa
      .user-name__icons
        = link_to '#', class: "user-name__icons--edit"  do
          = icon('fas', 'edit')
        = link_to '#', class: "user-name__icons--cog" do
          = icon('fas', 'cog')
  .group-list
    .group
      =link_to '#', class: "group__messages" do
        .group__name
          techcamp
        %b.group__message
          またメッセージがありません