.Side-bar
  .user-name
    .header-items
      .header-items__name
        %p masa
      .header-items__icons
        = link_to '#' do
          = icon('far', 'edit')
        = link_to '#' do
          = icon('fa', 'cog')
  .group-list